body {
  background-image: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(248, 252, 191));
  background-repeat: no-repeat;
  font-family: 'PT Serif', serif;
}
.weather-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 280px;
    height: 363px;
    padding: 20px 20px;
    color: rgb(240, 233, 233);
    background-image: url(../images/eifel.png);
    background-position: center;
    border-radius: 4px;
}
.weather-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 789px;
}
.city-name {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 22px;
  font-weight: 700;
}
.name-2 {
  font-weight: 600;
  padding-top: 4px;
  font-size: 13px;
}
.information {
  display: flex;
  justify-content: space-between;
}
.information-degree {
  display: flex;
  flex-direction: column;
  position: relative;
}
.number {
  font-size: 50px;
  
}
.status {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
.city {
  font-weight: 700;
  font-size: 17px;
}
.weather-icon {
  display: flex;
  align-items: center;
  font-size: 40px;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.history-number {
  font-size: 50px;
  color: #fff;
}
.name, .number, .name-2, .history-number, .month, .status {
  text-shadow: 2px 2px 5px #000000;
}
.circle {
  position: absolute;
  left: 55px;
  font-size: 12px;
}
.weather-box-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.weather-container-2 {
  justify-content: space-evenly;
  padding-right: 150px;
  padding-left: 150px;
}
.icon {
  font-size: 55px;
}
.background-img {
  background-image: url(../images/diego.png);
  background-size: cover;
}
.background-img-2 {
  background-image: url(../images/new-york.png);
  background-size: cover;
}
.background-img-3 {
  background-image: url(../images/russia.jpg);
  background-size: cover;
}
.weather-box-link {
  text-decoration: none;
}
.weather-box-link:hover {
box-shadow:         0px 0px 60px 0px rgba(20, 20, 20, 0.58);
}
.detail-container {
  background: #fff;
  width: 700px;
  margin: 113px auto;
}
.top-weather {
  display: flex;
  justify-content: space-around;
  height: 80px;
  border-top: 1px solid gray;
}

.top-weather-left-block {
  display: flex;
  align-items: center;
  width: 150px;
  height: 80px;
  position: relative;
}
.top-weather-left-block span, i {
  font-size: 25px;
}
.circle-2 {
  position: absolute;
  top: 23px;
  right: 100px;
  font-size: 11px;
}
.percent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 80px;
  font-size: 22px;
}
.percent i {
  color: rgb(59, 59, 253);
  font-size: 22px;
  padding-right: 50px;
}
.top-weather-right-block {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 80px;
}
.wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  height: 80px;
  font-size: 22px;
}
.wind i {
  color: rgb(59, 59, 253);
  font-size: 22px;
}
.bottom-weather {
  display: flex;
  flex-direction: column;
}
.bottom-top-weather {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background: #fff(231, 230, 230);
}
.bottom-top-weather:last-child {
  border-bottom: 0px;
}
.bottom-top-weather-left-block {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.city-name-2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}
.city-name-2 span {
  border-bottom: 1px solid #099dfd;
  color: #099dfd;
  font-size: 23px;
}
.moisture {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}
.color {
  color: rgb(59, 59, 253);
}
.sun-color {
  color: rgb(182, 182, 9);
}
.moisture i {
  font-size: 22px;
}
.percent-2 {
  display: flex;
    justify-content: flex-end;
    padding-right: 13px;
}
.general-container-2 {
  display: flex;
  justify-content: center;
}
.list-one-element {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.list-one-element:first-child {
  border-top: 1px solid gray;
}
.history-2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 120px;
}
.history-last-span {
  padding-left: 10px;
}
.wind-2 {
  width: 300px;
}
.degree-2 {
  padding-right: 29px;
  padding-left: 10px;
}
.circle-3 {
  position: absolute;
  font-size: 5px;
  top: 0px;
  right: 0px;
}
.circle-4 {
  position: absolute;
  top: 0px;
  right: 24px;
  font-size: 5px;
}
.status-2 {
  width: 160px;
}
.status-2 i {
  padding-right:5px;
}
.bold {
  font-weight: 700;
}
@media (max-width: 1280px) {
  .weather-container {
    flex-direction: column;
    height: 2800px;
  }
  .weather-box {
    width: 800px;
    height: 500px;
  }
  .name {
    font-size: 50px;
  }
  .name-2 {
    font-size: 30px;
  }
  .number {
    font-size: 90px;
  }
  .status {
    font-size: 30px;
  }
  .circle {
    left: 100px;
    font-size: 25px;
  }
  .icon {
    font-size: 80px;
  }
  .history-number {
    font-size: 70px;
  }
  .month {
    font-size: 40px;
  }
}