body {
  font-family: 'PT Serif', serif;
}
.general-container {
}
.weather-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 280px;
    height: 363px;
    padding: 20px 20px;
    color: rgb(240, 233, 233);
    background-image: url(../images/eifel.png);
    background-position: center;
    opacity: 0.8;
    border-radius: 4px;
}
.weather-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 789px;
  background-image: url("../images/background.png");
  background-size: cover;
  
}
.city-name {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 2px rgb(175, 173, 173);
}
.name-2 {
  font-weight: 600;
  padding-top: 4px;
  font-size: 13px;

}
.information {
  display: flex;
  justify-content: space-between;
}
.information-degree {
  display: flex;
  flex-direction: column;
  position: relative;
}
.number {
  font-size: 50px;
  text-shadow: 2px 2px rgb(175, 173, 173);
}
.month {
  text-shadow: 1px 2px rgb(175, 173, 173);

}
.status {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0px 1px rgb(175, 173, 173);

}
.city {
  font-weight: 700;
  font-size: 17px;
}
.weather-icon {
  display: flex;
  align-items: center;
  font-size: 40px;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.history-number {
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px rgb(175, 173, 173);

}
.circle {
  position: absolute;
  left: 55px;
  font-size: 12px;
}
.weather-box-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.weather-container-2 {
  justify-content: space-evenly;
  padding-right: 150px;
  padding-left: 150px;
}
.icon {
  font-size: 55px;
}
.background-img {
  background-image: url(../images/diego.png);
  background-size: cover;
}
.background-img-2 {
  background-image: url(../images/new-york.png);
  background-size: cover;
}
.background-img-3 {
  background-image: url(../images/russia.jpg);
  background-size: cover;
}
@media (max-width: 1280px) {
  .weather-container {
    flex-direction: column;
    height: 1900px;
  }
  .weather-box {
    width: 60%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .name {
    font-size: 50px;
  }
  .name-2 {
    font-size: 30px;
  }
  .number {
    font-size: 90px;
  }
  .status {
    font-size: 30px;
  }
  .circle {
    left: 100px;
    font-size: 25px;
  }
  .icon {
    font-size: 80px;
  }
  .history-number {
    font-size: 70px;
  }
  .month {
    font-size: 40px;
  }
}